
@model CaseStudyBerkut.Models.Users
@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h2>Kullanıcı Güncelle</h2>

<div class="form-horizontal">

    <hr />
    <input id="UserId" hidden="hidden" type="text" name="UserId" value="@Model.UserId" />
    <label> Adı:</label><br />
    <input id="Name" type="text" name="Name" value="@Model.Name" />
    <br />
    <label>Soyadı:</label><br />
    <input id="Surname" type="text" name="Surname" value="@Model.Surname" />
    <br />
    <label>Adres:</label><br />
    <input id="Adress" type="text" name="Adress" value="@Model.Adress" />
    <br />
    <label>Dogum Tarihi:</label><br />
    <input id="DateTime" type="text" name="DateTime" value="@Model.DateTime" />
    <br />
    <label>Email:</label><br />
    <input id="Email" type="text" name="Email" value="@Model.Email" />
    <br />
    <br />
    <button id="btnGuncelle">Güncelle</button>
</div>
<br />

<div>
    @Html.ActionLink("Listeye geri dön", "Index")
</div>

<script>
    $("#btnGuncelle").click(function () {

        var data = {
            UserId: $("#UserId").val(),
            Name: $("#Name").val(),
            Surname: $("#Surname").val(),
            Adress: $("#Adress").val(),
            DateTime: $("#DateTime").val(),
            Email: $("#Email").val()
        };

        $.ajax({
            Url: '@Url.Action("Update", "User")',
            type: 'Post',
            dataType: 'Json',
            data: data,
            success: function (result) {
                alert(result);
            }
        });
    });
</script>